@using BuchDatenbank
@using Buecher
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bücher Übersicht";
}
<!-- View der beiden Bücher-Tabellen -->
@model BuecherListeModel


<table class="table table-hover mb-0" style="float:right;width:40%;">
   

<!-- View für die Auflistung der Archivierten Bücher -->
   <thead>
        <tr><td>Archivierte Bücher</td><td></td></tr>
        <tr>
            <td>Titel</td>
            <td>Autor</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var buch in Model.Archiviert)
        {
            <tr>                  
                <td>@buch.title</td>
                <td>@buch.author</td>
            </tr>            
        }
    </tbody>
</table>

<table class="table table-hover mb-0" style="width:40%;">


<!-- View für die Auflistung der Aktuellen Bücher -->
    <thead>
        </td><td>Aktuelle Bücher</td><td></td></tr>
        <tr>
            
            <td>Titel</td>
            <td>Autor</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var buch in Model.Aktive)
        {
            <tr>
                
                    <td>@buch.title</td>
                    <td>@buch.author</td>
                </tr>
            
        }
    </tbody>
</table> 

<br />

<p>
    @Html.ActionLink("Neues Buch anlegen", "Einfuegen", "Buch")
</p>
